/* Flex box */

.titulocarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulocarta > h1 {
  font-size: 70px;
}
.background {
}
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-menu > h1 {
  font-size: 50px;
}

.header-plato {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-plato > h4 {
  margin: 0px !important;
  padding: 0px !important;
}
.alergenos {
  width: 20px;
}
.plato {
  margin: 60px 0px 0px 0px;
}
.grupo-alergenos {
  display: flex;
  justify-content: center;
}
.burguer {
  width: 400px;
  height: 275px;
}
