/* media queries */

section,
header {
  padding: 50px !important;
}
@media only screen and (min-width: 500px) {
  section,
  header {
    padding: 100px !important;
  }
}
@media only screen and (min-width: 700px) {
  section,
  header {
    padding: 150px !important;
  }
}
@media only screen and (min-width: 1000px) {
  section,
  header {
    padding: 200px !important;
  }
}

/* pendiente de refactorizar */

.presentacio {
  background-color: #c3f8ff;
  text-align: center;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

h1 {
  padding: 3%;
}
h4 {
  padding: 3%;
}
span {
  font-weight: bold;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font: bold;
}

.identitat {
  background-color: #abd9ff;
  text-align: center;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.peu {
  background-color: #ffebad;
  text-align: center;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.rds {
  width: 50px;
}
h2 {
  font-family: "Cherry Swash";
}
.burguer {
  width: 10px !important;
}
.menuburguer {
  background-color: #fff6bf;
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.formulario {
  padding: 10%;
}
.cocina {
  width: 100px;
}
.titulocarta {
  font-size: 7rem;
}
/* fin pendiente refactorizar */

/* grid-home */
.home-container {
  display: grid;
  grid-template-areas:
    "header carousel"
    "identitat identitat"
    "footer footer";
}
/* grid-areas-home */
.header-container {
  grid-area: header;
}
.carousel-container {
  grid-area: carousel;
}
.indentitat-container {
  grid-area: identitat;
}
.peu-container {
  grid-area: footer;
}
/* style carousel */
section.carousel-container.presentacio {
  padding: 0 !important;
  justify-self: center;
}
